*{
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app{
  display: flex;
  justify-content: center;
}
/* Agregamos un gap (depende de display flex) a nivel del componente para las separaciones */
.playerTg{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

article {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #3d3c3c;
}

article header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.player-card-info{
    color: white;
    display: flex;
    flex-direction: column;
}
.player-card-avatar{
    max-width: 50px;
}

article button{
    cursor: pointer;
    margin-left: 15px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    transition: .05s ease background-color;
}

article button:hover {
    background-color: blue;
}

.player-card-button-bingo {
    background-color: blueviolet;    
}

.player-card-button-bingo:hover {
    background-color: red;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  .board {
    margin: 40px auto;
    text-align: center;
  }
  
  .board h1 {
    color: #eee;
    margin-bottom: 16px;
  }
  
  .board button {
    padding: 8px 12px;
    background: transparent;
    border: 2px solid #eee;
    color: #eee;
    width: 100px;
    border-radius: 5px;
    transition: 0.2s;
    font-weight: bold;
    cursor: pointer;
  }
  
  .board button:hover {
    background: #eee;
    color: #222;
  }
  
  .board .game {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  
  .turn {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    width: fit-content;
    position: relative;
    border-radius: 10px;
  }
  
  .turn .square,
  .winner .square {
    width: 70px;
    height: 70px;
    pointer-events: none;
    border-color: transparent;
  }
  
  .square.is-selected {
    color: #fff;
    background: #09f;
  }
  
  .winner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .winner .text {
    background: #111;
    height: 300px;
    width: 320px;
    border: 2px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .winner .win {
    margin: 0 auto;
    width: fit-content;
    border: 2px solid #eee;
    border-radius: 10px;
    display: flex;
    gap: 15px;
  }
  
  .square {
    width: 100px;
    height: 100px;
    border: 2px solid #eee;
    border-radius: 5px;
    display: grid;
    place-items: center;
    cursor: pointer;
    font-size: 48px;
  }

  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
  }

  .sectResults{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .sectResults ul{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
  }

  img{
    width: 100%;
  }

  /* Loading */
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 